<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/navbarResponsive.css">
</head>

<body>
    <%- include('includes/navbar.ejs') %>

        <% if(sentOtp) {%>
            <form action="/profile/edit/change/password" method="get" onsubmit="return validateOtp()">
                <h1>Enter OTP to change password</h1>
                <input type="number" name="otp" id="otp">
                <button>Confirm</button>
            </form>
            <a href="/sendOtp/changePassword/<%=currUser.studId%>">send otp</a>
            <p>your otp is : <%=sentOtp%> 
            </p>
            <%}else {%>
                <form action="#" method="post" onsubmit="return false">
                    <h1>Enter OTP to change password</h1>
                    <input type="number" name="otp" id="otp">
                    <button>Confirm</button>
                </form>
                <a href="/sendOtp/changePassword/<%=currUser.studId%>">send otp</a>
                <%}%>

            <script>
                const sentOtp = <%-JSON.stringify(sentOtp) %>

                    function validateOtp() {
                        const enteredOtp = document.getElementById('otp').value;
                        if (enteredOtp === sentOtp) {
                            return true;
                        } else {
                            alert("invalid otp");
                            return false;
                        }
                    }
            </script>
            <script src="/js/navbar.js"></script>
</body>

</html>